# WARP License (optional)
WARP_LICENSE=

# WARP proxy settings
# Port host (WARP_PORT_START) dipetakan ke port 40000 di container (socat → warp 40001)
WARP_PROXY_HOST=127.0.0.1
WARP_PORT_START=40001
WARP_INSTANCE_COUNT=1
